body {
  margin: 0;
  background-color: whitesmoke;
}
#dashboard {
  box-sizing: border-box;
  margin: 1rem;
  display: grid;
  grid-template-areas:
    'form form tracking'
    'counter counter tracking';
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
}

#form {
  grid-area: form;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

#counter-placeholder {
  grid-area: counter;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-align: center;
}

#tracking-info {
  grid-area: tracking;
  border: 0.2rem solid cyan;
  border-radius: 0.3rem;
  overflow-y: auto;
  max-height: 90vh;
}

.card {
  margin: 1rem;
  position: relative;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.3);
}

.input {
  display: block;
  width: 100%;
  color: #87929b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-sizing: border-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.btn {
  display: inline-block;
  color: white;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #007bff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

@media screen and (max-width: 1023px) {
  #dashboard {
    grid-template-areas:
      'form'
      'tracking'
      'counter';
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
  }
  #dashboard .card {
    margin: 0;
  }
}
